---
layout: page
permalink: /categories/
title: Kategorie
---


<div id="archives">
    {% for category in site.categories %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <h3 class="category-head">{{ category_name | capitalize }}</h3>
        <a name="{{ category_name | slugize }}"></a>
        <ul>
            <!-- poniżej assign żeby móc sortować sobie jak mi się zachce -->
            {% assign posts = site.categories[category_name] %} 
            {% for post in posts %}
            <li>
                <article class="archive-item">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
                    <!-- {%- if post.ocena -%}
                    <span> ({{ post.ocena }}/10)</span>
                    {%- endif -%} -->
                </article>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>